doctype
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    , integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style2.css')  
    script(type="text/javascript" src="jquery-3.2.1.min.js")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")

  body
    header
      nav.navbar.navbar-light.bg-faded
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/about") About
          li.nav-item
            a.nav-link(href="/crawling") Crawling
          li.nav-item
            a.nav-link(href="/contact") Contact
    section#content
        block content
        footer 
          section.css-table
            section.footer
              section.cell
                span AkitaInu Express App &reg; Xeme